<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Консультация, врач {{ name_surname }}</title>
</head>
<body>
    <h1>Запись к врачу: {{ name_surname }}</h1>
    <table>
        <form method="post">
            {{ form.hidden_tag() }}
            {% for t in times %}
            <tr>
                {% if t in free_hours %}
                    {{ form.time(value=t, type="hidden", hidden=True) }}
                    <td>Время: <b>{{ t }}</b>{{ form.name.label }}</td>
                    <td>{{ form.name(id="name") }}</td>
                    <td>{{ form.service.label }}</td>
                    <td>{{ form.service(id="email")}}</td>
                    <td>{{ form.telnum.label }}</td>
                    <td>{{ form.telnum(id="telnum") }}</td>
                    <td>{{ form.submit(value="Записать") }}</td>
                {% else %}
                    <td>Время: <b>{{ t }}</b>{{ form.name.label }}</td>
                    <td>{{ form.name(id="name", disabled=True) }}</td>
                    <td>{{ form.service.label }}</td>
                    <td>{{ form.service(id="email", disabled=True) }}</td>
                    <td>{{ form.telnum.label }}</td>
                    <td>{{ form.telnum(id="telnum", disabled=True) }}</td>
                    <td>{{ form.submit(value="Записать",disabled=True) }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </form>
    </table>

</body>
</html>
