<!DOCTYPE html>
<html>

<body>
    <h1>Записаться на прием к доктору Кузнецову</h1>
    <h2>Запись на 18 августа 2023 года</h2>

    <table>
        <form>
            <tr>
                <td><label for="name">Время: <b>08.00</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
            <tr>
                <td><label for="name">Время: <b>08.30</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
            <tr>
                <td><label for="name">Время: <b>09.00</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
            <tr>
                <td><label for="name">Время: <b>09.30</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
            <tr>
                <td><label for="name">Время: <b>10.00</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
            <tr>
                <td><label for="name">Время: <b>10.30</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
            <tr>
                <td><label for="name">Время: <b>11.00</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
            <tr>
                <td><label for="name">Время: <b>11.30</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
            <tr>
                <td><label for="name">Время: <b>12.00</b> Ф.И.О. Пациента</label></td>
                <td><input type="text" id="name" /></td>
                <td><label for="email">Вид услуги</label></td>
                <td><input type="email" id="email" /></td>
                <td><label for="telnum">Телефон пациента</label></td>
                <td><input type="telnum" id="telnum" /></td>
            </tr>
        </form>
    </table>
</body>

</html>