<!-- 
////////////////////////////////////////////////////////////////

Стартовая страница сайта

//////////////////////////////////////////////////////////////
-->
<!doctype html>
<html lang="en">

  <head>
    <title>Cargo &mdash; Free Website Template by Free-Template.co</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Free-Template.co" />
    <link rel="shortcut icon" href="/static/ftco-32x32.png">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700" rel="stylesheet">

    <link rel="stylesheet" href="/static/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/static/css/aos.css">

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/static/css/style.css">

  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="site-wrap" id="home-section">

      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">info@sitoramedical.ru</span></a>
              <span class="mx-md-2 d-inline-block"></span>
              <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">+7 800 900 100 2324</span></a>


              <div class="float-right">
                <a href="https://vk.com/club220603862" class=""></span> <span class="d-none d-md-inline-block">В контакте</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href="https://web-telegram.ru/#-872346481" class=""></span> <span class="d-none d-md-inline-block">Телеграмм</span></a>
              </div>

            </div>

          </div>

        </div>
      </div>

      <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="site-logo">
            <a href="#" class="text-black"><span class="text-primary">Sitora Medical Group</a>
          </div>
          <div class="row align-items-center position-relative">

            <div class="col-12">
              <nav class="site-navigation text-right ml-auto " role="navigation">

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#about_me">О нас</a></li>
                  <li><a href="#services-section" class="nav-link">Наши слуги</a></li>
                  <li><a href="#team-section" class="nav-link">Врачи</a></li>
                  <li><a href="#patient_reviews" class="nav-link">Отзывы пациентов</a></li>
                  <li><a href="/select_action" class="nav-link">Личный кабинет</a></li>
                  <li><a href="#contact_section" class="nav-link">Контакты</a></li>
                </ul>
              </nav>

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

          </div>
        </div>

      </header>

      <div class="site-section-cover overlay inner-page bg-light" style="background-image: url('images/cargo_sea_big.jpg')" data-aos="fade">
      
      <div class="container">
        <div class="row align-items-center justify-content-center text-center">
          <div class="col-lg-10">

            <div class="box-shadow-content">
              <div class="block-heading-1">
                <span class="d-block mb-3 text-white" data-aos="fade-up">22 Августа, 2023 года. День открытых дверей. Лекция на тему: <span class="mx-2 text-primary">&bullet;
                <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">Доступная репродуктология</h1>
                <span class="d-block mb-3 text-white" data-aos="fade-up">Будем рады видеть всех! <span class="mx-2 text-primary">&bullet;
              </div>
            </div>
          </div>
        </div>
      </div>      
    </div>

        
    <div class="site-section" id="about_me">
      <div class="container">
        <div class="row">
          <div class="col-md-8 blog-content">

            <p class="lead">Медицинская компания Ситора, вот уже на протяжении нескольких лет , стабильно занимает нишу лидера в сфере оказания медицинских услуг по различным направлениям.</p>
            <p>Именно в сегоднящних реалиях необходима реализация проблемы выбора поставщика медицинских услуг, которые предоставляют пациентам медицинские компании государственного и частного сектора</p>

            <blockquote><p>Медицинская компания Ситора, основанная в 2017 году надежно заняла место уверенного мастодонта на рынке медицинских услуг, а спустя несколько лет не только укрепила свои позиции, но и нарастила объемы и качество оказываемой медицинской помощи пациентам. Появились услуги по программам ОМС, ДМС. А так же договорные услуги для юридических лиц и крупных предприятий.</p></blockquote>
            <p>На сегодняшний день в компании Ситора представленны такие направления как: хирургия, терапия, гинекология, урология, реподуктология, педиатрия. Высокий уровень работы лаборатории, является сильным и уверенным помошником для врачей, как наших, так и остальных клиник.</p>

            <p>Операционные отеделения, оборудованные высокоуровневой аппаратурой позволяют держать высокий уровень оказания хирургической помощи всех направлений.</p>

            <p>Собственный пищеблок позволяет контролировать лучшее качество приготавливаемой пищи для пациентов и сотрудников</p>
            
            <p>Клиника Ситора будет рада помочь пациентам и протянуть свою профессиональную руку помощи и поддержки.</p>


            <div class="pt-5">
              <p>Категория:  <a href="#">Медицина</a>, <a href="#">Лечение</a>  Тэги: <a href="#">#я доктор</a>, <a href="#">#дайте мне пилюльку</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-5 justify-content-center" id="services-section">
      <div class="col-md-7 text-center">
        <div class="block-heading-1">
          <h2>Наши услуги</h2>
          <p>В нашей клинике мы готовы предложить вам следующий спектр медицинских услуг.</p>
          <div class="ftco-service-image-1 pb-5">
            <div class="container">
              <div class="owl-carousel owl-all">
                <div class="service text-center">
                  <a href="#"><img src="/static/images/cargo_sea_small.jpg" alt="Image" class="img-fluid"></a>
                  <div class="px-md-3">
                    <h3><a href="#">Хирургия</a></h3>
                    <p>Высокая квалификация наших хирургов позволет лечить хирургические заболевания любой степени сложности.</p>
                  </div>
                </div>
                <div class="service text-center">
                  <a href="#"><img src="/static/images/cargo_air_small.jpg" alt="Image" class="img-fluid"></a>
                  <div class="px-md-3">
                    <h3><a href="#">Акушерство и гинекология</a></h3>
                    <p>Высокая квалификация наших гинекологов позволет лечить гинекологические заболевания любой степени сложности.</p>
                  </div>
                </div>
                <div class="service text-center">
                  <a href="#"><img src="/static/images/uro.jpg" alt="Image" class="img-fluid"></a>
                  <div class="px-md-3">
                    <h3><a href="#">Урология</a></h3>
                    <p>Высокая квалификация наших урологов позволет лечить урологические заболевания любой степени сложности.</p>
                  </div>
                </div>
                <div class="service text-center">
                  <a href="#"><img src="/static/images/laba.jpg" alt="Image" class="img-fluid"></a>
                  <div class="px-md-3">
                    <h3><a href="#">Лабораторные исследования</a></h3>
                    <p>Высокие технические возможности нашей лаборатории позволяют проводить сложнейшие лабораторные исследования.</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="site-section" id="team-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-7 text-center">
              <div class="block-heading-1" data-aos="fade-up" data-aos-delay="">
                <h2>Наши специалисты</h2>
                <p>Специалисты клиники Ситора,я вляются обладателями сертификатов международного образца. Регулярно проходят повышение квалификации за рубежом.</p>
              </div>
            </div>
          </div>

          <div class="owl-carousel owl-all">
            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="/static/images/person_1.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="font-size-20 text-black">Карсонов Максим Петрович</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Врач-хирург</span>
              <p class="mb-4">Специалист с 20-ти летним стажем. Профессор кафедры хирургии. Врач высшей категории.</p>
              <div class="site-logo">
                <a href="/karloson_consultation" class="text-black"><span class="text-primary">Записаться на прием</a>
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="/static/images/person_2.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="font-size-20 text-black">Жигунова Карина Аркадьевна</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Врач-акушер-гинеколог</span>
              <p class="mb-4">Специалист с 10-ти летним стажем. Доктор медицинских наук. Врач высшей категории.</p>
              <div class="site-logo">
                <a href="#" class="text-black"><span class="text-primary">Записаться на прием</a>
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="/static/images/person_3.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="font-size-20 text-black">Сапетуров Борис Игнатьевич</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Врач-репродуктолог</span>
              <p class="mb-4">Специалист с 15-ти летним стажем. Кандидат медицинских наук. Врач высшей категории.</p>
              <div class="site-logo">
                <a href="#" class="text-black"><span class="text-primary">Записаться на прием</a>
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="/static/images/person_4.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="font-size-20 text-black">Кузнецов Виктор Сергеевич</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Врач-анестезиолог</span>
              <p class="mb-4">Специалист с 12-ти летним стажем. Кандидат медицинских наук. Врач высшей категории.</p>
              <div class="site-logo">
                <a href="#" class="text-black"><span class="text-primary">Записаться на прием</a>
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="/static/images/person_5.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="font-size-20 text-black">Соколова Алина Владимировна</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Врач-педиатр</span>
              <p class="mb-4">Специалист с 12-ти летним стажем. Ассистент кафедры педиатрии. Врач высшей категории.</p>
              <div class="site-logo">
                <a href="#" class="text-black"><span class="text-primary">Записаться на прием</a>
              </div>
            </div>

            <div class="block-team-member-1 text-center rounded h-100">
              <figure>
                <img src="/static/images/person_6.jpg" alt="Image" class="img-fluid">
              </figure>
              <h3 class="font-size-20 text-black">Запольский Семен Рудольфович</h3>
              <span class="d-block font-gray-5 letter-spacing-1 text-uppercase font-size-12 mb-3">Врач-уролог</span>
              <p class="mb-4">Специалист с 16-ти летним стажем. Ассистент кафедры урологии. Врач высшей категории.</p>
              <div class="site-logo">
                <a href="#" class="text-black"><span class="text-primary">Записаться на прием</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="site-section bg-light block-13" id="patient_reviews" data-aos="fade">
        <div class="container">
          <div class="text-center mb-5">
            <div class="block-heading-1">
              <h2>Отзывы пациентов</h2>
            </div>
          </div>
          <div class="owl-carousel nonloop-block-13">
            <div>
              <div class="block-testimony-1 text-center">

                <blockquote class="mb-4">
                  <p>&ldquo;Спасибо большое персоналу клиники Ситора, за чуткое и внимательное отношение к пациентам! &rdquo;</p>
                </blockquote>

                <figure>
                  <img src="/static/images/person_11.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 text-black">Олег Сибидуимов</h3>
              </div>
            </div>
            <div>
              <div class="block-testimony-1 text-center">
                <blockquote class="mb-4">
                  <p>&ldquo;Спасибо большое доктору Карсонову, за качественно проведенную операцию и за внимательное отношение!.&rdquo;</p>
                </blockquote>
                <figure>
                  <img src="/static/images/person_11.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Игорь Топилов</h3>

              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">
                <blockquote class="mb-4">
                  <p>&ldquo;Выражаю слова огромной благодарности строителям, которые построили такую красивую и чудную клинику!&rdquo;</p>
                </blockquote>
                <figure>
                  <img src="/static/images/person_11.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 text-black">Сергей Чуднов</h3>
              </div>
            </div>

            <div>
              <div class="block-testimony-1 text-center">
                <blockquote class="mb-4">
                  <p>&ldquo;Мне понравилось всё:и качество оказываемой помощи,и отзывчивость медицинского персонала,и борщ из свеклы! .&rdquo;</p>
                </blockquote>

                <figure>
                  <img src="/static/images/person_11.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Роберт Малышкин</h3>

              </div>
            </div>
            <div>
              <div class="block-testimony-1 text-center">
                <blockquote class="mb-4">
                  <p>&ldquo; Очень хорошая клиника! Рекомендую всем друзьям и знакомым. Особая благодарность Максиму Петровичу! &rdquo;</p>
                </blockquote>

                <figure>
                  <img src="/static/images/person_11.jpg" alt="Image" class="img-fluid rounded-circle mx-auto">
                </figure>
                <h3 class="font-size-20 mb-4 text-black">Александр Ворчунов</h3>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="site-section bg-light" id="contact_section">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5" data-aos="fade-up" data-aos-delay="">
            <div class="block-heading-1">
              <span>Свяжитесь с нами</span>
              <h2>Наши контакты</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
            <form action="#" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="Фамилия">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Имя">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Адрес эл.почты">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Напишите письмо." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 mr-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Отправьте письмо">
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-4 ml-auto" data-aos="fade-up" data-aos-delay="200">
            <div class="bg-white p-3 p-md-5">
              <h3 class="text-black mb-4">Контактная информация</h3>
              <ul class="list-unstyled footer-link">
                <li class="d-block mb-3">
                  <span class="d-block text-black">Адрес:</span>
                  <span>Россия, Самара, Челюскинцев, дом 2 , литера Б.</span></li>
                <li class="d-block mb-3"><span class="d-block text-black">Телефон:</span><span>+7 800 900 100 2324</span></li>
                <li class="d-block mb-3"><span class="d-block text-black">Email:</span><span>info@sitoramedical.ru </span></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-7">
                <h2 class="footer-heading mb-4">О нас</h2>
                <p>Медицинская компания Cитора, вот уже на протяжении нескольких лет , стабильно занимает нишу лидера в сфере оказания медицинских услуг </p>
              </div>
              <div class="col-md-4 ml-auto">
                <h2 class="footer-heading mb-4">Особенности</h2>
                <ul class="list-unstyled">
                  <li><a href="#">О нас</a></li>
                  <li><a href="#">Услуги</a></li>
                  <li><a href="#">Отзывы пациентов</a></li>
                  <li><a href="#">Личный кабинет</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>

            </div>
          </div>
          <div class="col-md-4 ml-auto">

            <div class="mb-5">
              <h2 class="footer-heading mb-4">Подпишитесь на рассылку новостей</h2>
              <form action="#" method="post" class="footer-suscribe-form">
                <div class="input-group mb-3">
                  <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Введите эл.почту" aria-label="Введите эл.почту" aria-describedby="button-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">Подписаться</button>
                  </div>
                </div>
            </div>


            <h2 class="footer-heading mb-4">Мы в соцсетях</h2>
            <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
            <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
            </form>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
              <p class="copyright">
                <!-- Link back to Free-Template.co can't be removed. Template is licensed under CC BY 3.0. -->
                &copy; <script>document.write(new Date().getFullYear());</script> <strong>Sitora</strong> Все права защищены. Дизаин <a href="https://free-template.co/" target="_blank">Free-Template.ru</a>
              </p>
            </div>
          </div>

        </div>
      </div>
    </footer>

    </div>

    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/jquery.sticky.js"></script>
    <script src="/static/js/jquery.waypoints.min.js"></script>
    <script src="/static/js/jquery.animateNumber.min.js"></script>
    <script src="/static/js/jquery.fancybox.min.js"></script>
    <script src="/static/js/jquery.easing.1.3.js"></script>
    <script src="/static/js/aos.js"></script>

    <script src="/static/js/main.js"></script>


  </body>

</html>
